.card {
  width: 400px;
  height: 450px;
  background: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 24px;
  flex-direction: column;
  color: black;
  gap: 8px;
  
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}

.slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideOut {
  from { transform: translateX(0px); opacity: 1; }
  to   { transform: translateX(-250px); opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateX(250px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}